@tailwind base;
@tailwind components;
@tailwind utilities;

.container-inner {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-inner {
        max-width: 875px;
    }
}

.content-wrapper {
    transition: background-color .25s;
}


